*{
    background-color: black;
    color: white;
}

/* flex-conatiners */
button.deleteButton{
    display: inline;
}
div.tasks-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    
}

/* text styling */

h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
}
span{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.remove{
    align-self: flex-end;
}

li{
    max-width: 100%;
    min-width: 40%;
}
#add{
    color: forestgreen;
}
#minus{
    color: rgb(137, 16, 16);
}
#deleteButton{
    color: rgb(137, 16, 16);
}
